<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/navbar %>
  </header>

 <main>
    <div class="jumbotron">
      <h1>About Me!</h1>
      <p>Hello! I'm a rising 2nd year Computer Science/Interactive Media student at
      Northeastern University. You can always find me playing around in Adobe Illustrator
      and drinking coffee. I'm interested in UI/UX and graphics.</p>
    </div>
  </main>

</body>

</html>