<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/navbar %>
  </header>
  
  <main>
    <div class="jumbotron">
      <h1>Contact Me!</h1>
    </div>
  </main>


</body>

</html>